.draw_element {
  position: absolute;
}

.selection_layout {
  position: absolute;
}

.draw_text_element {
  position: absolute;
  resize: none;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;

  background: transparent;
}

.transform_tool_container {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 1);

  > div {
    position: absolute;
    width: 10px;
    height: 10px;
    outline: 1px solid rgba(0, 0, 0, 1);
    background: white;
  }
}

.scale_tool_1 {
  top: calc(0% - 5px);
  left: calc(0% - 5px);
}

.scale_tool_2 {
  top: calc(0% - 5px);
  left: calc(50% - 5px);
}

.scale_tool_3 {
  top: calc(0% - 5px);
  left: calc(100% - 5px);
}

.scale_tool_4 {
  top: calc(50% - 5px);
  left: calc(0% - 5px);
}

.scale_tool_5 {
  top: calc(50% - 5px);
  left: calc(100% - 5px);
}

.scale_tool_6 {
  top: calc(100% - 5px);
  left: calc(0% - 5px);
}

.scale_tool_7 {
  top: calc(100% - 5px);
  left: calc(50% - 5px);
}

.scale_tool_8 {
  top: calc(100% - 5px);
  left: calc(100% - 5px);
}

.rotate_tool {
  top: -25px;
  left: calc(50% - 5px);

  border-radius: 50%;
}
