.test_text {
  position: absolute;
  color: skyblue;

  &.div {
    color: gray;
    font-size: 20px;
    text-align: center;
  }
}

#main {
  width: 100%;
  height: 100%;
}

.picture_group {
  position: absolute;
  top: 0;
  left: 0;

  &.div {
    position: relative;
    width: max-content;
  }
}
