@import "../components/board.scss";
@import "../components/drawElement.scss";
@import "../ui/toolBox.scss";

html {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  inset: 0;
}
