@import "/src/components/board.scss";
@import "/src/components/drawElement.scss";
@import "/src/ui/toolBox.scss";
@import "/src/ui/toolBoxDetail.scss";

html {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  inset: 0;
}
